<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tglh.newscanningproject.scanning.mapper.SafeScanMapper">
    <select id="areaInfo" parameterType="java.lang.String"   resultType="com.tglh.newscanningproject.scanning.entity.ScanArea">
        select
            area_name,
            area_no,
            depart_id,
            sd.depart_name,
            depart_name,
            manage_phone,
            manage_user_name,
            manage_user_no
        from scan_area sa
        join sys_department  sd
        on sa.depart_id = sd.id
        where area_no = #{code}
    </select>

    <select id="areaInfoItems" parameterType="java.lang.String"   resultType="com.tglh.newscanningproject.scanning.entity.ScanAreaItems">
        select
            area_no areaNo,
            item_name itemName,
            checked,
            id,
            DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') updateTime,
            DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime
        from scan_area_items
        where area_no = #{code}
    </select>

    <select id="getMaxId"    resultType="java.util.Map">
        select
            max(id) id
        from scan_records_bxy
    </select>

   <insert id="addRecord"  parameterType="com.tglh.newscanningproject.scanning.entity.ScanRecordAdvise"  >
        insert into scan_records_bxy
            ( area_no,
             area_name,
             depart_id,
             depart_name,
             manage_user,
             manage_user_name,
             manage_phone,
             `desc`,
             item_ids,
             images,
             record_status,
             record_user_no,
             record_user_name,
             record_user_phone,
             record_location,
             create_time,
             update_time
             )
        values
        (#{areaData.area_no},
        #{areaData.area_name},
        #{areaData.depart_id},
        #{areaData.depart_name},
        #{areaData.manage_user_no},
        #{areaData.manage_user_name},
        #{areaData.manage_phone},
        #{descData},
        #{selectItems},
        #{imgArray},
        1,
        #{userInfo.userNo},
        #{userInfo.userName},
        #{userInfo.userPhone},
        #{location.locationTotal},
        sysdate(),
        sysdate()
        )
    </insert>


    <insert id="addRecordAction" parameterType="com.tglh.newscanningproject.scanning.entity.ScanRecordAdvise"  >
        insert into scan_records_action_bxycwb
            (    record_id,
                 action_type,
                 action_item_ids,
                 action_user_no,
                 action_user_name,
                 action_user_phone,
                 action_time,
                 create_time,
                 update_time
             )
        values
            (
                #{maxId},
                1,
                #{selectItems},
                #{userInfo.userNo},
                #{userInfo.userName},
                #{userInfo.userPhone},
                sysdate(),
                sysdate(),
                sysdate()
            )
    </insert>

    <select id="selectAreaFilter"   resultType="com.tglh.newscanningproject.scanning.entity.ScanArea">
              select
                    distinct(sd.id) `value`,
                    sd.depart_name label,
                    0 as pid
              from scan_area sa
              left join sys_department  sd
              on sa.depart_id = sd.id
          union  all
              select
                            sa.id+100000  `value`,
                            sa.area_name label,
                            sa.depart_id pid
              from scan_area sa
              left join sys_department sd
              on sa.depart_id = sd.id
    </select>

    <select id="selectStatusFilter" resultType="java.lang.String">
        select scan_value from scan_configs where scan_key = 'record_status'
    </select>


    <select id="selectTotal" parameterType="com.tglh.newscanningproject.scanning.entity.MyUploadList" resultType="java.util.HashMap">
        select count(1) count
        from scan_records srds
        left join scan_area sa
        on srds.area_no = sa.area_no
        where 1 = 1
        <if test="searchKey != null and searchKey !=''">
            and srds.depart_name like '%'  #{searchKey}  '%'
        </if>
        <if test="statusSelect != null and statusSelect !=''">
            and srds.record_status = #{statusSelect}
        </if>
        <if test="buMenId != null and buMenId !=''">
            and srds.depart_id = #{buMenId}
        </if>
        <if test="quYuId != null and quYuId !=''">
            and sa.id+100000 = #{quYuId}
        </if>
        <if test="dateSelect != null and dateSelect !=''">
            and  DATE_FORMAT(srds.create_time,'%Y-%m-%d') = #{dateSelect}
        </if>
        <if test="userInfo != null and userInfo.userNo !=null">
            and  srds.record_user_no = #{userInfo.userNo}
        </if>
        <!--<if test="clientInfo != null and clientInfo !=''">
            and  myUpload.appClientId = #{clientInfo.clientid}
        </if>-->
     </select>

    <select id="myList" parameterType="com.tglh.newscanningproject.scanning.entity.MyUploadList" resultType="com.tglh.newscanningproject.scanning.entity.MyUploadList">
        with myUpload as (
            select
                srds.id,
                srds.area_no areaNo,
                sa.id + 100000 areaId,
                srds.area_name areaName,
                srds.depart_id departId,
                srds.depart_name departName,
                srds.manage_user manageUser,
                srds.manage_user_name manageUserName,
                srds.manage_phone managePhone,
                srds.`desc`,
                srds.item_ids itemIds,
                srds.images,
                srds.record_status recordStatus,
                case srds.record_status
                    when 0 then '未通过'
                    when 1 then '新增'
                    when 2 then '已审核'
                    when 3 then '已处理'
                    when 4 then '已归档'
                end as 'recordStatusName',
                srds.record_user_no recordUserNo,
                srds.record_user_phone recordUserPhone,
                srds.record_location recordLocation,
                srds.record_location_name recordLocationName,
                srds.app_client_id appClientId,
                DATE_FORMAT(srds.update_time,'%Y-%m-%d %H:%i:%s') updateTime,
                DATE_FORMAT(srds.create_time,'%Y-%m-%d %H:%i:%s') createTime
            from  scan_records srds
            left join scan_area sa
            on srds.area_no = sa.area_no
        )
        select * from (
                        select
                                (@r:=@r + 1) AS _row_number,
                                id,
                                areaNo,
                                areaId,
                                areaName,
                                departId,
                                departName,
                                manageUser,
                                manageUserName,
                                managePhone,
                                `desc`,
                                itemIds,
                                images,
                                recordStatus,
                                recordStatusName,
                                recordUserNo,
                                recordUserPhone,
                                recordLocation,
                                recordLocationName,
                                appClientId,
                                updateTime,
                                createTime
        from myUpload,(select @r := 0) r
        where 1 = 1
        <if test="searchKey != null and searchKey !=''">
            and departName like '%'  #{searchKey}  '%'
        </if>
        <if test="statusSelect != null and statusSelect !=''">
            and recordStatus = #{statusSelect}
        </if>
        <if test="buMenId != null and buMenId !=''">
            and departId = #{buMenId}
        </if>
        <if test="quYuId != null and quYuId !=''">
            and areaId = #{quYuId}
        </if>
        <if test="dateSelect != null and dateSelect !=''">
            and  DATE_FORMAT(createTime,'%Y-%m-%d') = #{dateSelect}
        </if>
        <if test="userInfo != null and userInfo.userNo !=null">
            and  recordUserNo = #{userInfo.userNo}
        </if>
        <!--<if test="clientInfo != null and clientInfo !=''">
            and  myUpload.appClientId = #{clientInfo.clientid}
        </if>-->
            order by myUpload.createTime desc
        ) T
        where <![CDATA[ T._row_number > #{startPageNum}
                        AND T._row_number <= #{endPageNum} ]]>
        </select>
</mapper>

