<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tglh.newscanningproject.scanning.mapper.UserMapper">
    <select id="loginCheck" parameterType="com.tglh.newscanningproject.scanning.entity.User"  resultType="com.tglh.newscanningproject.scanning.entity.User">
        select
            id,
            user_no userNo,
            user_name userName,
            user_pwd userPwd,
            user_phone userPhone,
            post_id postId,
            depart_id departId,
            user_photo userPhoto ,
            DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') createTime,
            DATE_FORMAT(update_time,'%Y-%m-%d %H:%i:%s') updateTime,
            DATE_FORMAT(login_time,'%Y-%m-%d %H:%i:%s') loginTime,
            user_status userStatus
        from sys_users
        where user_no= #{userNo}
        and user_pwd= #{userPwd}
    </select>

    <select id="selectTree"    resultType="com.tglh.newscanningproject.scanning.entity.DepartMent">
        select
            id,
            depart_name departName,
            depart_pid departPid
        from sys_department
    </select>

    <insert id="regist" parameterType="com.tglh.newscanningproject.scanning.entity.User">
        insert into sys_users_bxycwb(
                                user_no,
                                user_name,
                                user_pwd,
                                depart_id,
                                user_phone,
                                post_id,
                                create_time,
                                update_time,
                                user_status
        ) values (
            #{userNo},
            #{userName},
            #{userPwd},
            #{departId},
            #{userPhone},
            #{postId},
             sysdate(),
             sysdate(),
             0
        )
    </insert>

</mapper>

